* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7fd;
}
/* nav */
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  font-size: 5rem;
  padding: 10px;
  height: 13vh;
}

.navbar-logo {
  height: 80%;
  margin: 5px 30px;
}

.carousel {
  position: relative;
  left: 10vw;
  top: 30vh;
  width: 55vw;
  height: 60vh;

  overflow: hidden;
}
