* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

/* nav */
.navbar {
  position: relative;
  text-align: center;
  width: 100%;
  height: 18vh;
}

.logo-nav {
  display: flex;
  justify-content: left;
  padding-left: 25vw;
  height: 4vh;
  background-color: #000000;
}

.team-logo {
  height: 100%;
}

.menus {
  display: flex;
  justify-content: left;
  margin-top: 30px;
  padding: 13px 0 0 26vw;
  height: 7vh;
  border-top: 1px solid #000000;
  border-bottom: 2px solid #000000;
}

.menu-icon {
  font-size: 1.5rem;
  margin-right: 20px;
  color: #000000;
}

.button {
  height: 5vh;
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
}

.navbar-logo {
  height: 90%;
  margin-top: 30px;
}

.main-board {
  top: 20vh;
  padding: 0 25vw;
  width: 50vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  width: 50vw;
  height: 25vh;
  border: 1px solid #aaaaaa;
  overflow: hidden;
  margin: 20px;
  min-width: 800px;
}

.card:hover {
  cursor: pointer;
}

.card-img {
  width: 40%;
  height: auto;
}

.decription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 100%;
  width: 60%;
}

.decription-title {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.decription-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.decription-text {
  margin-top: 5px;
  font-size: 1rem;
}

.modal {
  position: fixed;
  text-align: center;
  top: 3vh;
  left: 5vw;
  width: 90vw;
  height: 94vh;
  padding: 10vh 25vw;
  z-index: 10;
  background-color: #ffffff;

  box-shadow: 0 0 40px #000000;

  overflow: auto;
}

.modal:hover {
  cursor: pointer;
}

.modal-header-title {
  font-size: 3rem;
  text-align: center;
  margin: 5px;
}

.modal-header-subtitle {
  font-size: 2rem;
  text-align: center;
  margin: 5px;
}

.modal-text-title {
  font-size: 1.5rem;
  text-align: left;
}

.modal-text-middle {
  font-size: 1.2rem;
  text-align: left;
}

.modal-text {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 10vh;
}

.center-img {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
