* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

/* nav */
.navbar {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 18vh;
}

.logo-nav {
  height: 4vh;
  background-color: #d2142b;
}

.menus {
  display: flex;
  justify-content: left;
  margin-top: 30px;
  padding: 13px 0 0 15vw;
  height: 7vh;
  background-color: #d2142b;
}

.menu-icon {
  font-size: 1.5rem;
  margin-right: 20px;
  color: #ffffff;
}

.button {
  height: 5vh;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}

.navbar-logo {
  height: 70%;
  margin-top: 30px;
}

.main-board {
  position: relative;
  top: 30vh;
  display: flex;
  justify-content: center;
}

.main-item {
  height: 400px;
}

.main-img {
  height: 100%;
}

#first {
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.4s;
  animation: fadeOut ease 1s;
}

#first:hover {
  cursor: pointer;
}

#second {
  z-index: 0;
  top: -100%;
  transition: 0.43s;
}

#second:hover {
  cursor: pointer;
}

#third {
  z-index: 0;
  top: -200%;
  transition: 0.3s;
}

#third:hover {
  cursor: pointer;
}

.slide-img {
  height: 70vh;
  min-width: 100%;
}

.subtitle {
  position: relative;
  width: 100%;
  height: 7vh;
  background-color: #ffffff;
  font-size: 2.5rem;
}

.flex-box {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.articles {
  position: fixed;
  z-index: 100;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 94vh;
  background-color: #ffffff;
  box-shadow: #000000;
  padding: 30px;
  font-size: 1rem;
}

.side-img {
  margin: 0 0 4px 4px;
  height: 30%;
}

.side-img:hover {
  cursor: pointer;
}
